<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Gym Website Template | Classes :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery.min.js"></script>
<!-- grid-slider -->
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
<!-- //grid-slider -->
<!---calender-style---->
<link rel="stylesheet" href="css/jquery-ui.css" />
<!---//calender-style---->	
</head>
<body>
    <!-- start header_bottom -->
    <div class="header-bottom">
		 <div class="container">
		   <div class="clear"></div>
		</div>
    </div>
	<!-- start menu -->
    <div class="menu" id="menu">
	  <div class="container">
		 <div class="logo">
			<a href="index.html">
				<div style="width: 145px; height: 40px;">
					<p style="font-size: 26px;font-family: serif;font-weight: 700;"> Shine Press</p>
				</div>
				<!-- <img src="images/logo.png" alt=""/> -->
			</a>
		 </div>
		 <div class="h_menu4"><!-- start h_menu4 -->
		   <a class="toggleMenu" href="#">Menu</a>
			 <ul class="nav">
			   <li><a href="index.html">Home</a></li>
			   <li><a href="about.html">About</a></li>
			   <li><a href="services.html">Services</a></li>
			   <li><a href="contact.html">Contact</a></li>
			   <li class="active"><a href="gallery.html">Gallery</a></li>
			 </ul>
			  <script type="text/javascript" src="js/nav.js"></script>
		  </div><!-- end h_menu4 -->
		 <div class="clear"></div>
	  </div>
	</div>
	<!-- end menu -->
	<div class="main">
       <div class="about_banner_img"><img src="images/class_img.jpg" class="img-responsive" alt=""/></div>
		 <div class="about_banner_wrap">
      	    <h1 class="m_11">Services</h1>
      	</div>
		<div class="border"> </div> 
		 <div class="container">
		   <div class="classes_wrapper">
		 	<div class="row class_box">
 			  <div class="col-md-6">
				<div class="class_left">
					<a href="single_class.html"><img src="images/c7.jpg" class="img-responsive" alt=""/ title="continue"></a>
				</div>
				<div class="class_right">
					<h3>Kik Boxing</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
					<div class="class_img">
					  <img src="images/c2.jpg" alt=""/>
					  <div class="class_desc">
					  	<h4>Trainer</h4>
					  	<h5>laoreet dolore</h5>
					  	<p>iusto odio dignissim</p>
					  </div>
					    <div class="clear"></div>
					     <ul class="buttons_class">
					  	 <li class="btn5"><a href="#">Read More</a></li>	
				         <li class="btn6"><a href="#">Timetable</a></li>	
			            <div class="clear"></div>
			         </ul>
					</div>
				</div>
				<div class="clear"></div>
			  </div>	
			   <div class="col-md-6">
				<div class="class_left">
					<a href="single_class.html"><img src="images/c1.jpg" class="img-responsive" alt=""/ title="continue"></a>
				</div>
				<div class="class_right1">
					<h3>Spinning</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
					<div class="class_img">
					  <img src="images/c8.jpg" alt=""/>
					  <div class="class_desc1">
					  	<h4>Trainer</h4>
					  	<h5>laoreet dolore</h5>
					  	<p>iusto odio dignissim</p>
					  </div>
					   <div class="clear"></div>
					   <ul class="buttons_class">
					  	 <li class="btn7"><a href="#">Read More</a></li>	
				         <li class="btn8"><a href="#">Timetable</a></li>	
			            <div class="clear"></div>
			           </ul>
					</div>
				  </div>
			    </div>
			  <div class="clear"></div>
			 </div>	
			 <div class="row class_box">
 			   <div class="col-md-6">
				<div class="class_left">
					<a href="single_class.html"><img src="images/c6.jpg" class="img-responsive" alt=""/ title="continue"></a>
				</div>
				<div class="class_right">
					<h3>Crossfit</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
					<div class="class_img">
					  <img src="images/c9.jpg" alt=""/>
					  <div class="class_desc">
					  	<h4>Trainer</h4>
					  	<h5>laoreet dolore</h5>
					  	<p>iusto odio dignissim</p>
					  </div>
					    <div class="clear"></div>
					     <ul class="buttons_class">
					  	 <li class="btn5"><a href="#">Read More</a></li>	
				         <li class="btn6"><a href="#">Timetable</a></li>	
			            <div class="clear"></div>
			         </ul>
					</div>
				</div>
				<div class="clear"></div>
			  </div>	
			   <div class="col-md-6">
				<div class="class_left">
					<a href="single_class.html"><img src="images/c5.jpg" class="img-responsive" alt=""/ title="continue"></a>
				</div>
				<div class="class_right1">
					<h3>Aerobics</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
					<div class="class_img">
					  <img src="images/c10.jpg" alt=""/>
					  <div class="class_desc1">
					  	<h4>Trainer</h4>
					  	<h5>laoreet dolore</h5>
					  	<p>iusto odio dignissim</p>
					  </div>
					   <div class="clear"></div>
					   <ul class="buttons_class">
					  	 <li class="btn7"><a href="#">Read More</a></li>	
				         <li class="btn8"><a href="#">Timetable</a></li>	
			            <div class="clear"></div>
			           </ul>
					</div>
				 </div>
			    </div>
			   <div class="clear"></div>
			 </div>	
			 <div class="row class_box1">
 			  <div class="col-md-6">
				<div class="class_left">
					<a href="single_class.html"><img src="images/c3.jpg"  class="img-responsive" alt=""/ title="continue"></a>
				</div>
				<div class="class_right">
					<h3>Cardio Fitness</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
					<div class="class_img">
					  <img src="images/c11.jpg" alt=""/>
					  <div class="class_desc">
					  	<h4>Trainer</h4>
					  	<h5>laoreet dolore</h5>
					  	<p>iusto odio dignissim</p>
					  </div>
					    <div class="clear"></div>
					     <ul class="buttons_class">
					  	 <li class="btn5"><a href="#">Read More</a></li>	
				         <li class="btn6"><a href="#">Timetable</a></li>	
			            <div class="clear"></div>
			         </ul>
					</div>
				  </div>
				<div class="clear"></div>
			  </div>	
			   <div class="col-md-6">
				<div class="class_left">
					<a href="single_class.html"><img src="images/c4.jpg" class="img-responsive"  alt=""/ title="continue"></a>
				</div>
				<div class="class_right1">
					<h3>Yoga</h3>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
					<div class="class_img">
					  <img src="images/c12.jpg" alt=""/>
					  <div class="class_desc1">
					  	<h4>Trainer</h4>
					  	<h5>laoreet dolore</h5>
					  	<p>iusto odio dignissim</p>
					  </div>
					   <div class="clear"></div>
					   <ul class="buttons_class">
					  	 <li class="btn7"><a href="#">Read More</a></li>	
				         <li class="btn8"><a href="#">Timetable</a></li>	
			            <div class="clear"></div>
			           </ul>
					</div>
				</div>
			   </div>
			   <div class="clear"></div>
			 </div>	
			<div class="clear"></div> 	   		
		   </div>
		</div>
<!-- repeat -->
		<div id="contact" class="login">
		  	    <div class="row login_details">
		  	    	<div class="col-md-6">
					  <div class="join-right">
					  	 <h3>Why Choose us ?</h3>
					  	 <h4>sed diam nonummy nibh euismod</h4>
					  	 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<br> nibh euismod tincidunt ut laoreet dolore magna . </p>	
					  	 <div class="buttons_login" style="padding-top: 4%;">
					  	 <div class="btn4" style="margin-left: 16%;">
					       <a href="#semifooter" class="scroll" style="width: 150px; padding: 7px 12px;">Contact Us</a>
				         </div>
				         <div class="btn4" style="margin-left: 16%;">
					       <a href="#map" class="scroll" style="width: 150px; padding: 7px 12px;">Locate Us</a>
				         </div>	
				         <!-- <div class="p-ww">
						  <form>
						   <input class="date" id="datepicker" type="text" value="View Calender" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'View Calender';}">
						  </form>
					     </div> -->
				         <div class="clear"></div>
				         <!---strat-date-piker---->
					  <script src="js/jquery-ui.js"></script>
					  <script>
					  $(function() {
					    $( "#datepicker" ).datepicker();
					  });
					  </script>
					  </div>
					  </div>
					</div>
				 	<div class="col-md-6">
						  <div class="join">
						  	 <h3>Have a printing need?</h3>
						  	 <h4>sed diam nonummy nibh euismod</h4>
						  	 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<br> nibh euismod tincidunt ut laoreet dolore magna . </p>	
						  	 <div class="btn3">
						       <a href="#semifooter" class="scroll">Request a quote</a>
					         </div>	
						  </div>
					</div>
					<div class="clear"></div>
			   </div>
		  </div>
	    <div id="map" class="map" style="margin-top: 0%;padding-top: 0%;">
			<iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=United+Kingdom&amp;aq=0&amp;oq=un&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=United+Kingdom&amp;ll=55.378051,-3.435973&amp;spn=135.795411,68.554687&amp;t=m&amp;z=2&amp;output=embed"> </iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=United+Kingdom&amp;aq=0&amp;oq=un&amp;sll=37.0625,-95.677068&amp;sspn=48.956293,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=United+Kingdom&amp;ll=55.378051,-3.435973&amp;spn=135.795411,68.554687&amp;t=m&amp;z=2" style="color:#666;font-size:12px;text-align:left"> </a></small>
			<div class="opening_hours" style="top:3%;">
			 <ul class="times">
			 	<h3>Opening <span class="opening">Hours</span></h3>
			 	<li><i class="calender"> </i><span class="week">Monday</span><div class="hours">08:00-17:00</div>  <div class="clear"></div></li>
			 	<li><i class="calender"> </i><span class="week">Tuesday</span><div class="hours">08:00-17:00</div>  <div class="clear"></div></li>
			 	<li><i class="calender"> </i><span class="week">Wednesday</span><div class="hours">08:00-17:00</div>  <div class="clear"></div></li>
			 	<li><i class="calender"> </i><span class="week">Thrusday</span><div class="hours">08:00-17:00</div>  <div class="clear"></div></li>
			 	<li><i class="calender"> </i><span class="week">Friday</span><div class="hours">08:00-17:00</div>  <div class="clear"></div></li>
			 	<li><i class="calender"> </i><span class="week">Saturday</span><div class="hours">Closed</div>  <div class="clear"></div></li>
			 	<li><i class="calender"> </i><span class="week">Sunday</span><div class="hours">08:00-17:00</div>  <div class="clear"></div></li>
			    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
			 	<h4>You're welcome!</h4>
			 </ul>
		    </div>
		 </div>
		 <div class="footer-bottom">
		   <div class="container">
		 	 <div class="row section group">
				<!-- <div class="col-md-4">
				   <h4 class="m_7">Newsletter Signup</h4>
				   <p class="m_8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy.</p>
				      <form class="subscribe">
			             <input type="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Insert Email';}">
					  </form>
			          <div class="subscribe1">
			            <a href="#">Submit Email<i class="but_arrow"> </i></a>
			          </div>
				</div> -->
				<div id="semifooter" class="col-md-5 col-md-offset-1">
					<div class="f-logo">
						<div style="width: 145px; height: 40px;">
							<h3> Shine Press</h3>
						</div>
						<!-- <img src="images/logo.png" alt=""/> -->
					</div>
					<p class="m_9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis</p>
					<div class="row">
						<div class="col-md-6">
							<p class="address">
								<i class="phone"></i>
								 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(+233) 0208514386</span></p>
						</div>
						<div class="col-md-6">
							<p class="address">
								<i class="message"></i>
								 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">info@shinepress.com</span></p>
						</div>
					</div>
				</div>
				<div id="semifooter" class="col-md-5 col-md-offset-1">
					<h3> Have a printing need?</h3>
					<p class="m_9">Describe your printing need and we will give you a quote, just in a moment.</p>
					<div class="row">
						<form action="" method="post">
							<div class="col-md-6">
								<input type="text" class="form-control" placeholder="Your phone number" style="margin-bottom: 3px;" />
								<input type="text" class="form-control" placeholder="Your email address" style="margin-bottom: 3px;" />
							</div>
							<div class="col-md-6">
								<textarea class="form-control" rows="3" placeholder="Describe your printing need" style="margin-bottom: 3px;"></textarea>
							</div>
							<div class="col-md-12">
								<input type="submit" class="form-control btn-primary" value="Request Quote" />
							</div>
						</form>
					</div>
				</div>
				<div class="clear"></div>
	  		  </div>
		 	</div>
		 </div>
		 <div class="copyright">
		  <div class="container">
		    <!-- <div class="copy"> -->
		        <p style="text-align: center;color: #fff;">© 2014 Built by <a href="#" target="_blank"> elishasenoo@gmail.com</a></p>
		    <!-- </div> -->
		    <!-- <div class="social">	
			   <ul>	
				  <li class="facebook"><a href="#"><span> </span></a></li>
				  <li class="twitter"><a href="#"><span> </span></a></li>
				  <li class="pinterest"><a href="#"><span> </span></a></li>	
				  <li class="google"><a href="#"><span> </span></a></li>
				  <li class="tumblr"><a href="#"><span> </span></a></li>
				  <li class="instagram"><a href="#"><span> </span></a></li>	
				  <li class="rss"><a href="#"><span> </span></a></li>							
			   </ul>
		    </div> -->
		   <div class="clear"></div>
		  </div>
	     </div>
<!-- /repeat -->
</body>
</html>